// modal
.modal {
  &-header {
    padding: 45px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  .h2 {
    margin-bottom: 16px;
  }

  &-body {
    padding: 45px;
    padding-top: 0;
  }

  &-title {
    font-size: 23px;
  }

  &-content {
    border: none;
    padding: 30px 20px;
    border-radius: 16px;
    background-color: #fff;

    @media(max-width: 991px) {
      border-radius: 32px;
      padding: 30px 20px;
    }
  }

  &Descr {
    margin-bottom: 16px;
  }

  .btn-close {
    background: none;
    opacity: 1;
    right: 8px;
    top: 8px;
    position: absolute;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 991px) {
      top: 0;
    }
  }
  .static-btn-close {
    position: unset;
    margin-left: auto;
    justify-content: flex-end;
    height: fit-content;
  }
  .modalCol33 {
    width: 33%;
  }

  &-tea {
    .modal-content {
      padding-top: 16px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 24px;
    }

    .btn-close {
      top: 8px;
    }
  }

  &-dialog {
    @media(min-width: 576px){
      max-width: 560px;
    }
    &--sm {
      @media(min-width: 576px){
        max-width: 512px;
      }      
    }
  }
}

.modal-tea-item {
  border: 1px solid var(--outline);
  border-radius: 16px;
  padding: 16px 10px;
  width: 50%;
}

.tea-item-icon {
  width: 32px;
  height: 32px;
}

.modal-check-title {
  padding-left: 34px;
  background: url('@img/icons/check.svg') no-repeat left center / 24px;
}

.modal-check {
  .modal-content {
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.modal-table {
  .modal-dialog {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content {
    padding-top: 54px;
    padding-bottom: 24px;
  }

  .btn-close {
    top: 8px;
  }

  &-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    align-items: center;
    border: 2px solid var(--primary);
    border-radius: 100px;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    margin-top: 10px;
  }

  &-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  &-number {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }

  &-title {
    font-size: 24px;
  }
}

.modal-backdrop {
  background-color: #182548;
  // opacity: .4!important;
}

.modal-authorize {
  .modal-content {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.modal-view-order {
  .btn-close {
    position: unset;
    margin-left: auto;
    justify-content: flex-end;
  }
}

.modalGrid-33 {
 padding: 16px;
}

.modalCol33 {
  width: 33%;
}
.modal-head-sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}