.news {
  &List {
    @media(min-width: 576px){
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 16px;
    }
  }
  &Card {
    @media(min-width: 576px){
      grid-column: 6 span;
    }
   
    &:not(:last-child){
      margin-bottom: 24px;
    }
    &Link {

      h3 {
        font-weight: 500;
        transition: color .2s linear;

        &:hover {
          color: var(--success);
        }
      }

    }

    &Descr {
      max-height: 64px;
      overflow: hidden;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      line-height: 143%;
      /* Включаем флексбоксы */
      -webkit-box-orient: vertical;
      /* Вертикальная ориентация */
    }

    &Date {
      font-size: 12px;
      line-height: 133%;
      color: var(--gray);
    }
    &Content {
      width: 100%;
    }

    &Img {

      img {
        height: 127px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        transition: opacity .2s linear;
        @media(min-width: 992px){
          height: 15vw;
        }
        @media(min-width: 1200px){
          height: 200px;
        }
        &:hover {
          opacity: .9;
        }
      }
      &--admin {
        img {
          height: 115px;
          width: 115px;
          min-width: 115px;
        }
      }
    }
  }

}