// Specifications
* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $main-color;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  @media (max-width: 991px) {
    font-size: 14px;
    line-height: 150%;
  }
}

html {
  scroll-behavior: smooth;
}

body.hidden {
  overflow: hidden
}

body.modal-open {
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

.form-input {
  height: 58px;
  border-radius: 10px;
  border: 1px solid #838383;
  background-color: #ffffff;
  width: 530px;
  padding-left: 27px;
  font-size: 16px;

  @media(max-width: 1199px) {
    padding-left: 24px;
  }

  &::placeholder {
    color: #b0b0b0;
    font-size: 16px;
  }
}

.max-130 {
  max-width: 154px;
  height: 20px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
}

.fz-10 {
  font-size: 10px;
}

.fz-16 {
  font-size: 16px;
}

.section-title {
  margin-bottom: 40px;
  color: #1C1F63;

  @media (max-width: 991px) {
    margin-bottom: 24px;
  }
}

.section-title-page {
  color: #0E1A2F;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  // overflow: hidden;
  background-color: #fff;
  padding-bottom: 80px;

  &Auth {
    padding-bottom: 0;
  }

  &Admin {
    padding-top: 36px;
    padding-bottom: 44px;
    padding-left: 200px;
  }
}

.main {
  flex: 1 0 auto;
  &-action {
    padding-bottom: 80px;
  }
}

.footer {
  flex: 0 0 auto;
}

.container {
  padding: 0 var(--container-offset);
  // max-width: var(--container-width);
  // margin: 0 auto;

  @media (max-width: 575px) {
    padding: 0 20px;
  }
}

.admin-container {
  max-width: 750px;
}

.container-fluid {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  color: #333;
  font-weight: 700;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;

  @media(max-width: 991px) {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 700;
  }
}

h2 {
  // font-size: 42px;
  // line-height: 46px;

  @media(max-width: 991px) {
    font-size: 20px;
    line-height: 120%;
  }
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 0;
}

h3 {
  font-size: 32px;
  line-height: 35px;
  color: #333;

  @media (max-width: 991px) {
    font-size: 16px;
    line-height: 150%;
  }
}

.h3 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 0;
}

h4 {
  font-size: 22px;
  line-height: 28px;

  @media (max-width: 991px) {
    font-size: 14px;
    line-height: 143%;
    font-weight: 500;
  }
}

.h4 {
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: $semibold;

  @media(max-width: 991px) {
    font-size: 13px;
    line-height: 18px;
  }
}

.underline {
  text-decoration: underline;
}

@-webkit-keyframes shows {
  from {
    opacity: 0;
    // -webkit-transform: translateY(-120px);
    // transform: translateY(-120px);
  }

  to {
    opacity: 1;
    // -webkit-transform: translateY(0);
    // transform: translateY(0);
  }
}

@keyframes shows {
  from {
    opacity: 0;
    // -webkit-transform: translateY(-120px);
    // transform: translateY(-120px);
  }

  to {
    opacity: 1;
    // -webkit-transform: translateY(0);
    // transform: translateY(0);
  }
}

.topRound {
  border-radius: 32px 32px 0 0;
  margin-top: -54px;
  background-color: #fff;
  position: relative;
  z-index: 2;

}

.bg--green {
  background: var(--success);
  color: #fff;
}

.bg--red {
  background: var(--error);
  color: #fff;
}

.bg-background {
  background-color: var(--background);
}

.border-t-outline {
  border-top: 1px solid var(--outline);
}

.border-b-outline {
  border-bottom: 1px solid var(--outline);
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: #222;
}

.contentText {
  p {
    margin-bottom: 16px;
  }
}

.articleIntro {
  .swiper-slide {
    min-height: 360px;
  }
}

.articleDate {
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.formText {
  height: 148px;
  border-radius: 8px;
  padding: 14px 16px;
  width: 100%;
  background: var(--background);
  border: 1px solid var(--background);

  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
  &.textarea-noscroll {
    resize: none;
    max-height: unset;
    &.auto {
      overflow-y: hidden;
    }
  }
  &.filled {
    background-color: transparent;
    border: 1px solid var(--black);
  }

  &:focus {
    background-color: transparent;
    border: 1px solid var(--black);
  }

  &::placeholder {
    color: var(--gray);
  }

  &.error {
    border-color: var(--error);
    background: rgba($color: #E02828, $alpha: .1);

    &::placeholder {
      color: var(--error);
    }
  }

  &--sm {
    min-height: 110px;
    height: auto;
  }
}

.agreement {
  font-size: 12px;
  line-height: 133%;
  margin-bottom: 16px;

  input {
    &:checked {
      &+label {
        .rect {
          background: url('@img/icons/checkbox-blue.svg') no-repeat center center / 14px;
          border-color: var(--tetriary);
        }
      }
    }
  }

  label {
    cursor: pointer;
  }

  .rect {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid var(--outline);
  }

  a {
    color: var(--secondary);
  }
}

.formInput {
  background-color: var(--background);
  border-radius: 8px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  border: 1px solid var(--background);
  font-size: 16px;

  &--transparent {
    background-color: transparent;
    border: 1px solid var(--black);
  }

  &:focus {
    background-color: transparent;
    border: 1px solid var(--black);
  }
  &:disabled {
    color: var(--disabled);
    &::placeholder {
      color: var(--disabled);
    }
  }
  &.error {
    border-color: var(--error);
    background: rgba($color: #E02828, $alpha: .1);

    &::placeholder {
      color: var(--error);
    }
  }

  &.filled {
    background-color: transparent;
    border: 1px solid var(--black);
  }

  &Name {
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  @media(min-width: 992px) {
    font-size: 14px;
  }

  &Id {
    padding-right: 50px;
    background-image: url('@img/icons/upload-black.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 16px center;
  }

  &Price {
    max-width: 144px;
    background-image: url('@img/icons/tenge.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 16px center;
    padding-right: 40px;
    &:disabled {
      background-image: url('@img/icons/tenge-disabled.svg');
    }
  }
}

.searchInput {
  background-color: var(--background);
  border-radius: 8px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  border: 1px solid var(--background);
  font-size: 16px;

  &:focus {
    background-color: transparent;
    border: 1px solid var(--black);
  }

  @media(min-width: 992px) {
    font-size: 14px;
  }

}

.formSelect {
  background-color: var(--background);
  border-radius: 8px;
  height: 48px;
  padding-left: 16px;
  padding-right: 50px;
  width: 100%;
  border: 1px solid var(--background);
  font-size: 14px;
  background-image: url('@img/icons/arrow-down.svg');
  background-size: 24px;
  cursor: pointer;

  &:focus {
    box-shadow: none;
    border-color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
  }

  &:focus-within {
    box-shadow: none;
    border-color: var(--black);
  }

  &:hover {
    box-shadow: none;
    border-color: var(--black);
  }

  &:disabled {
    background-color: var(--background);
    color: var(--disabled);
    background-image: url('@img/icons/arrow-down-disabled.svg');
    pointer-events: none;

    &::placeholder {
      color: var(--disabled);

    }
  }

  &--transparent {
    border: none;
    background-color: transparent;
  }

  &.filled {
    background-color: transparent;
    border: 1px solid var(--black);
  }
}

.form-time {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('@img/icons/time.svg');
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 22px;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    filter: invert(1);
  }
}

.form-date {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('@img/icons/date.svg');
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 22px;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    filter: invert(1);
  }
}

.errorText {
  color: var(--error);
}

.pageHead {
  &W {
    border-bottom: 1px solid var(--outline);
  }

  &Back {
    position: relative;
    right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
}

.pageInfo {
  font-size: 12px;
  color: var(--gray);
  line-height: 133%;

  &W {
    border-bottom: 1px solid var(--outline);
  }
}

.text--blue {
  color: var(--primary);
}

.text--gray {
  color: var(--gray);
}

.text--sm {
  font-size: 12px;
  line-height: normal;
}

.text--lg {
  font-size: 16px;
}

.border-b-gray {
  border-bottom: 1px solid var(--outline);

}

.text--disabled {
  color: var(--disabled);
}

.checkPayed {
  font-size: 12px;
  color: var(--success);
  padding-left: 20px;
  background: url('@img/icons/success.svg') no-repeat left center / 16px;
}

.checkNotPayed {
  font-size: 12px;
  color: var(--gray);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #182548, $alpha: .4);
  z-index: 4;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
    -webkit-animation: shows .3s;
    animation: shows .3s;
  }
}

.headerSidebarWrap {
  position: relative;
  z-index: 5;
}

.adminHead {
  margin-bottom: 28px;
}

.personItem {
  margin-right: -10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}

.personList {
  display: flex;

  &W {
    display: flex;
    align-items: center;
    column-gap: 16px;
    position: relative;
    z-index: 1;
  }

  &Count {
    color: var(--primary);
    font-weight: 500;
    font-size: 12px;
  }
}

.w-24 {
  width: 24px;
}

.h-24 {
  height: 24px;
}

.ml-auto {
  margin-left: auto;
}

.personImgW {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.adminHeadLink {
  padding-left: 40px;
  background: url('@img/icons/arrow-back.svg') no-repeat left center / 24px;
  transition: color .2s linear, background .2s linear;

  &.link-text-none {
    width: 24px;
    height: 24px;
    padding-left: 0;
    min-width: 24px;
  }

  &:hover {
    color: var(--primary);
    background: url('@img/icons/arrow-back-blue.svg') no-repeat left center / 24px;
  }
}

.border-width-2.button--transparent {
  border-width: 2px;
}

.searchW {
  position: relative;

  input {
    padding: 0 50px 0 16px;
    height: 40px;

    &.searchInput--lg {
      height: 48px;
    }
  }
}

.blocked {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 32px;
  background-image: url('@img/icons/blocked.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.editAdmin {
  svg {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: #000000;
  }
}

.selectw {
  height: 100%;
}

.select2-container {
  height: 48px;
}

.select2-container .select2-selection--single {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  border: none;
  padding-left: 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  box-shadow: none;
  border: none;
  background: url('@img/icons/arrow-down.svg') no-repeat center center / contain;
  width: 24px;
  height: 24px;
  left: unset;
  transform: rotate(180deg);
  right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  box-shadow: none;
  border: none;
  background: url('@img/icons/arrow-down.svg') no-repeat center center / contain;
  width: 24px;
  height: 24px;
  left: unset;
  right: 10px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--background);
  color: #333;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--background);
}

.select2-search--dropdown {
  display: none;

}

.select2-container--open .select2-dropdown {
  box-shadow: 0 2px 6px 0 rgba(24, 37, 72, 0.12);
  border: none;
  width: calc(100% - 20px);
  border-radius: 8px;
  border: 1px solid var(--outline);
  overflow: hidden;
}

.select2-dropdown {
  top: 4px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border: 2px solid var(--primary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select2-results__option {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--outline);
  }
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 300px;
}

.border-outline {
  border: 1px solid var(--outline);
}

.changedInput {
  border: 1px solid #333;
  padding-left: 16px;
  border-radius: 8px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 50px;
  background: url('@img/icons/check-black.svg') no-repeat right 16px center / 24px;
}
.text-hidden { 
  overflow: hidden;
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  &.rows-4 {
      -webkit-line-clamp: 4;
       height: 82px;
  }
}
